<html>
    <head>

    </head>
    <style>
        button {
            margin: auto;
            padding: auto ;
            text-align: center;
        }
        table {
            margin: auto;
            padding: auto;
        }
        a {
            margin: auto;
            padding: auto;
        }
    </style>
    <body>
        <div>
            <div id='result_content'></div>
            <table>
            <tr> <th> hash_vlaue : </th> <th>{{hash_value}}</th></tr>
            <tr> <td> comment : </td> <td>{{comment}}</td></tr>  
            <tr> <td> class : </td><td>{{Class}} </td></tr> 
            <tr> <td> submit_time : </td><td>{{submit_time}}</td></tr>;
        </table>
        </div>

        <a href="/"><button> Back</button></a>
    </body>
    <script>
    </script>
</html>